{% extends "layout.html" %}

{% block head %}
<title>Stonks | Home</title>
{% endblock %}


{% block content %}

<div class="container">
    <h2>
        Welcome to the Stonks Home Page.
    </h2>
    <p>
        This is where you could see a users accounts, transaction records and spending behaviours.<br>
        Our intelligent model will develop a cluster of information on our user, providing scores <br>
        on their spending habits, areas of concern and provide recommendations to improve their <br>
        financial situation. Based on the metrics, the user will also have a set of services that <br>
        they qualify for. Thanks to the metrics our model draws upon, we are able to serve the <br>
        the quality score of a user to the lenders, and this could be a consideration in dictating<br>
        the loan amount and rate they qualify for. <a href="{{url_for('main.dashboard')}}">Take me to the dashboard!</a>
    </p>

</div>

{% endblock %}